<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotelnow">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name="com.hotelnow.utils.HotelnowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
        android:theme="@style/AppTheme">
        <activity android:name="com.hotelnow.activity.ActLoading"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="app.launch" android:scheme="hotelnow" />
                <data android:host="kakaolink" android:scheme="kakao4d8f460a1c1f7084095dfac28289e89e" />
            </intent-filter>
        </activity>

        <activity android:name="com.hotelnow.activity.MainActivity"
            android:theme="@style/AppTheme.TransNav"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".activity.CalendarActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activity.DetailHotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AreaHotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MapHotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FilterHotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FilterActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AreaActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MapAcvitityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReservationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WebviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MySaveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".activity.SignupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyCouponActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CardAddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.EventActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PrivateDealActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FullImageViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReviewHotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AllRoomTypeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CalendarSingleActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activity.DetailActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FullImageViewActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReservationActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReservationHotelDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivityMapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReservationActivityDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReviewHotelWriteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReviewActivityWriteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReviewShowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ThemeSpecialHotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ThemeSpecialActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivityFilterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ActivitySearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HotelSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.StayMapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RecentAllActivity" />
        <activity android:name=".activity.BannerAllActivity" />
        <activity android:name=".activity.ThemeSAllActivity" />
        <activity android:name=".activity.HotDealActivity" />
        <activity android:name=".activity.PrivateDaelAllActivity" />
        <activity android:name=".activity.BannerActivityAllActivity" />
        <activity android:name=".activity.BannerStayAllActivity" />
        <activity android:name=".activity.SettingActivity" />

        <service
            android:name="com.hotelnow.utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.hotelnow.utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/facebook_provider"
            android:exported="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="4d8f460a1c1f7084095dfac28289e89e" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_key" />
    </application>

</manifest>